.sideNav {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #333; 
    color: #fff;
    padding: 15px 15px 15px 10px;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2); 
}

.sideNav h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.sideNav h3 {
    margin: 20px 0;
    font-size: 14px; 
    font-style: italic; 
}

.banned-buttons {
    margin: 5px 0;
    background-color: #bb6463f0;
    box-shadow: 0 3px #7e4b0d;
    border: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    color: #fff; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

.banned-buttons:hover {
    background-color: #a55353; 
}